＊{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.rist-box{
  margin:50px auto;
  height:620px;
  width:960px;
}
.rist:nth-child(odd){
  height:60px;
  background-color:gray;
  width:960px;
}
.rist:nth-child(even){
  height:60px;
  background-color:white;
  width:960px;
}
.rist-text{
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
}

.color-box{
  width:960px;
  margin:50px auto;
  height:700px;
}
.box-contents{
  display:flex;
  flex-wrap:wrap;
  
}
.box:nth-child(1){
  width:30%;
  height:200px;
  background-color:orange;
  margin-right:5%;
  margin-bottom:40px;
}
.box:nth-child(2){
  width:30%;
  height:200px;
  background-color:yellow;
  margin-right:5%;
  margin-bottom:40px;
}
.box:nth-child(3){
  width:30%;
  height:200px;
  background-color:yellow;
}
.box:nth-child(4){
  width:30%;
  height:200px;
  background-color:yellow;
  margin-right:5%;
  margin-bottom:40px;
}
.box:nth-child(5){
  width:30%;
  height:200px;
  background-color:orange;
  margin-right:5%;
  margin-bottom:40px;
}
.box:nth-child(6){
  width:30%;
  height:200px;
  background-color:yellow;
}
.box:nth-child(7){
  width:30%;
  height:200px;
  background-color:yellow;
  margin-right:5%;
  margin-bottom:40px;
}
.box:nth-child(8){
  width:30%;
  height:200px;
  background-color:yellow;
  margin-right:5%;
  margin-bottom:40px;
}
.box:nth-child(9){
  width:30%;
  height:200px;
  background-color:orange;
}